In [1]:
from housing.entity import housing_predictor

In [20]:
train_file_path =r"D:\ML_Projects\MLOps_California_House_Price_Prediction\housing\artifact\data_ingestion\2025-05-09-21-10-56\ingested_data\train\housing.csv"

In [36]:
df2 = pd.read_csv(train_file_path)

In [49]:
df2[(df2[df2['ocean_proximity']=='<1H OCEAN']) and (df2[df2['longitude']==-118.39])]

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [50]:
housing_data = housing_predictor.HousingData(-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,'INLAND')
housing_data

In [51]:
housing_data.get_housing_data_as_dict()

{'longitude': [-121.46],
 'latitude': [38.52],
 'housing_median_age': [29.0],
 'total_rooms': [3873.0],
 'total_bedrooms': [797.0],
 'population': [2237.0],
 'households': [706.0],
 'median_income': [2.1736],
 'ocean_proximity': ['INLAND']}

In [52]:
df = housing_data.get_housing_input_data_frame()
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,INLAND

In [53]:
print(housing_data.median_house_value)

None

In [54]:
housing_data.latitude

38.52

In [55]:
from housing.entity.housing_predictor import HousingPredictor

In [ ]:
import pandas as pd

# Sample data
df = pd.DataFrame({
    'gender': ['male', 'female', 'other', 'unknown', 'mle']
})

# Define valid domain
valid_values = {'male', 'female', 'other'}

# Check for invalid values
invalid_rows = df[~df['gender'].isin(valid_values)]

print("Invalid values found: ")

print(invalid_rows)

Invalid values found:
    gender
3  unknown
4      mle